<ol class="post-list">
    <!-- begin the loop -->
    <!-- html code between loop will be repeated for every item in '/posts' -->
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                <a href="{{post.ost_url}}" target="_blank">{{post.title}}</a>
                <span>({{post.post_url}})</span>
            </div>
            <div class="meta">
                {{post.vote_count}} point(s) by {{post.user.username}} on 
                {{post.created_at}}
                |
                <a href="/post/{{id}}">{{post.commnets.length}} comment(s)</a>
            </div>
        </article>
    </li>
    <!-- end the loop -->
    {{/each}}
</ol>